version: '3.8'

services:
  frontend:
    build:
      context: ../../frontend
    ports:
      - "5173:80"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf

#docker-compose -p smartphone_frontend_nginx up -d